#{extends 'main.html' /}
#{set title:'Home' /}

#{ifnot tasks}
<p id="no-tasks">
    No tasks
</p>
#{/ifnot}

<ol class="not-done">
#{list items:tasks, as:'task'}
    #{ifnot task.done}
    <li>
        <input type="checkbox" id="${task.id}" ${task.done ? 'checked' : ''} />
        <label for="${task.id}">${task.title}</label>
    </li>
    #{/ifnot}
#{/list}
</ol>

<p>
    <a id="createTask" href="#">Create a new task</a>
</p>

<ol class="done">
#{list items:tasks, as:'task'}
    #{if task.done}
    <li>
        <input type="checkbox" id="${task.id}" ${task.done ? 'checked' : ''} />
        <label for="${task.id}">${task.title}</label>
    </li>
    #{/if}
#{/list}
</ol>

<script type="text/javascript" charset="UTF-8">
    $('#createTask').click(function() {
        $.post('@{createTask()}', {title: prompt('Task title')}, function(task){
            $('.not-done').prepend(
                '<li><input type="checkbox" id="'+task.id+'" /></li><label for="'+task.id+'">'+task.title+'</label>'
            );
              
            if ($('#no-tasks').is(":visible")) {
              $('#no-tasks').hide();
            }
        });
    })
    
    // change status
    $('input').live('click', function() {
        $.post('@{changeStatus()}', {id: $(this).attr('id'), done: $(this).is(':checked')});
        if ($(this).is(':checked')) {
            $('.done').prepend($(this).parent().remove());
        } else {
            $('.not-done').prepend($(this).parent().remove());
        }
    })
</script>